<div id="guest-modal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form id="guest-form" method="post" action="">
                    <div class="controls">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2 class="mt-2"><b>Wonders Beyond Limits</b></h2>
                                <h4>Hello there, Thank you for visiting!</h4>
                                <hr />
                            </div>
                            <div class="col-lg-12">
                                <p class="error text-small text-center mb-2"></p>
                                <label>Your name:</label>
                                <input type="text" name="guestName" required="required" class="form-control" autocomplete="off" />
                                <label>Message (Optional):</label>
                                <textarea name="guestMessage" rows="3" class="form-control" maxlength="100" style="resize: none;"></textarea>
                            </div>
                            <div class="col-lg-12 text-center mt-4 mb-n4">
                                <button class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>